.menu {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  padding: 20px;
}

.menu-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

.seg {
  padding: 20px;
  width: 73.5%;
  min-height: fit-content;
}

.contentMenu {
  margin-left: 200px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  font-size: 10px;
  margin-top: -120px;
}

.doctor_name {
  margin-left: 23px;
  padding-top: 20px;
  font-family: "Arial", sans-serif;
  font-size: 27px;
  color: #4c657f;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(44, 88, 87, 0.489);
}

.DoctorImage {
  text-align: right;
}

.DoctorImage img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.SpecializationImage {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.List {
  display: flex;
  flex-direction: column;  /* Stack children vertically */
}


.address {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
  font-style: italic;
  opacity: 0.8;
  line-height: 1.5;
}

.price-list {
  list-style-type: none; 
  padding-left: 0; 
}
