.cardContainer {
    display: flex;
    justify-content: center; /* Centrare pe orizontală */
    margin-top: 20px;

  }
  
  .firtsCard,
  .secoundCard {
    margin: 0 75px; /* Spațiu de 150px între carduri */
  }
  
  .boldSubheader {
    font-weight: normal;
  }
  .boldSubheader > :nth-child(1) {
    font-weight: bold; /* Resetare font-weight pentru celelalte elemente */
  }
  
  .textDescription {
    font-family: Arial, sans-serif;
    font-size: 16px; /* sau dimensiunea dorită */
    text-align: left; /* Aliniere text la stânga */
    color: #333; /* Culoare text */
  }

  .boldTitle {
    font-family: "Arial", sans-serif;
    font-size: 30px;
    color: #4c657f;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 3px rgba(90, 74, 237, 0.1);
  }

  .boldSubheader {
    font-family: "Arial", sans-serif;
    font-size: 15px;
    color: #333;
    margin-top: 10px;
  }

.mainTitle{
    margin-left: 23px;
    padding-top: 20px;
    font-family: "Arial", sans-serif; /* Folosește o familie de fonturi clară și ușor de citit */
    font-size: 30px; /* Dimensiune mare pentru un impact vizual puternic */
    color: #4c657f;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(44, 88, 87, 0.489); /* Ușoară umbrire pentru un efect de adâncime */
    
}
  
  