.leaflet-container {
  height: 400px;
}

.map-container {
  width: 600px;
  height: 400px;
  margin-left: 85px;
  background-color: #4c657f;
}

.address-box {
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: 30px;
  width: 200px;
}

.buttons {
  background-color: #4c657f;
  text-align: center;

}

.buttons button {
  margin: 0 70px;
  margin-top: 20px;
  color: white;
  font-family: "Roboto", sans-serif;
}

.AccordionAddress {
  color: #666;
  font-size: 18px;
  line-height: 1.5;
}